@model ModernRecrut.MVC.Models.OffreEmploi

@{
    ViewData["Title"] = "Details";
    bool estFavori = (bool)ViewData["EstFavori"];
}

<h1>Details</h1>

<div>
    <h4>Offre d'emploi</h4>
    <hr />
    @if (estFavori)
    {
        <p class="text-success fs-4 fw-bolder">Cette offre d'emploi est enregitrée dans vos favoris</p>
        <hr />
    }
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poste)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poste)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAffichage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAffichage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    @if (!estFavori)
    {
        <a asp-controller="Favoris" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-outline-primary">Ajouter au favoris</a>
    }
    else
    {
		<a asp-controller="Favoris" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Retirer des favoris</a>    
    }

    | <a asp-action="Edit" asp-route-id="@Model.Id">Modifier</a> |
    <a asp-action="Index">Retour à la liste des offres d'emploi</a>
</div>
